@import "../../node_modules/bootstrap/scss/bootstrap";

.appWrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 56px 1fr 40px;
}


.listItem {
  transition: 0.3s;
  border-bottom: 3px solid #DFDFDF;

}

.listItem:hover {
  transition: .3s;
  z-index: 1;
  cursor: pointer;
  border-bottom: 3px solid #17A2B8;
}

.techDescription {
  line-height: 2em;
}


.rnWrapper{
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows:  1fr;
  grid-column-gap: 15px;
  & .rnVideoWrapper >div{
    display: flex;
    margin: 5px;
    flex-direction: row;
    align-items: center;
    & >video {
      border-radius: 5px;
    }
  }
  & .mainTech{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 15px;
    justify-content: center;
  }
}



@media (min-width: 1700px) {
  .col-xl-5 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 0 15px;
  }
  .homeContainer {
    max-width: 90%;
  }


}

@media (min-width: 1611px) and (max-width: 1699px) {
  .col-xl-5 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 0;
  }
  .col-xl-4 {
    padding: 0;

    & .list-group-item {
      padding: 10px 0;
      margin: 0 10px;
    }
  }
  .homeContainer {
    max-width: 90%;
  }

}

@media (min-width: 1367px) and (max-width: 1610px) {
  .col-xl-5 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 0;
  }
  .col-xl-4 {
    padding: 0;

    & .list-group-item {
      padding: 10px 0;
      margin: 0 10px;
    }
  }
  .homeContainer {
    max-width: 95%;
  }

  .rnWrapper{
    grid-column-gap: 5px;
  }

}


@media (min-width: 1200px) and (max-width: 1366px) {
  .col-xl-5 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 0;
  }
  .col-xl-4 {
    flex: 0 0 50.0%;
    max-width: 50.0%;
    padding: 0;

    & .list-group-item {
      padding: 10px 0;
      margin: 0 10px;
    }
  }
  .homeContainer {
    max-width: 90%;
  }

  .listItem{
    padding: 15px;
  }

}

@media (min-width: 992px) and (max-width: 1199px) {

  .col-xl-5 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
    padding: 10px;
  }
  .rnWrapper {
    & .mainTech {
      & .listItem{
        padding: 10px;
      }
    }

  }
}

@media (max-width: 768px) {
  .navbar {
    z-index: 2;
  }

  .rnWrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0;
    grid-row-gap: 15px;
    justify-items: center;
    & .rnVideoWrapper{
      width: 80%;
      margin: 0;
      & >div {
        margin: 5px 0;
      }

    }
  }

}