.headerWrapper {

}

.links {
    margin-left: 20px;
}


@media (max-width: 768px) {
    .links {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 10px;
        margin: 20px 0;
    }

}